@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

img {
    position: absolute;
    height: 64px;
    width: 96px;
    top: 50%;
    left: 60%;
    scale: 1050%;
}